* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Moh Luang';
}

@font-face {
    font-family: 'Moh Luang';
    src: url('../../font/Moh-Luang.otf') format('opentype');
}

@font-face {
    font-family: 'PGVIM';
    src: url('../../font/PGVIM.ttf') format('opentype');
}

.top {
    text-align: center;
    background-color: #2A435D;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.text {
    text-align: center;
    color: white;
    font-size: 96px;
    background-image: url('Rectangle 58.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.rodruedee {
    font-family: 'PGVIM';
    text-align: center;
    color: #001F33;
    margin-top: 10px;
    font-size: 96px;
    background-size: cover;
    background-position: center;
}


.login-container {
    background-color: #FFF8EE;
    width: 1028px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 87px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.text-field input {
    width: 505px;
    height: 64px;
    border-color: #232D3F;
    border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
}

.username-text label {
    font-size: 25px;
}



.login-button {
    font-family: 'Moh Luang';
    background-color: #232D3F;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    margin-top: 40px;
    margin-left: 204px;
}


.login-button:hover {
    background-color: #445566;
    cursor: pointer;
}

.login-button:active {
    background-color: #001F33;
}