* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Moh Luang';
    background-color: #FFF8EE;
}

@font-face {
    font-family: 'Moh Luang';
    src: url('../../../font/Moh-Luang.otf') format('opentype');
}

@font-face {
    font-family: 'PGVIM';
    src: url('../../../font/PGVIM.ttf') format('opentype');
}

/* Header */
header {
    background-color: #2A435D;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: clamp(20px, 5vw, 30px);
    font-family: 'PGVIM';
}

header img {
    max-width: 95px;
    max-height: 30px;
    margin-right: 8px;
}

/* Top */
.queue {
    background-image: url('../../../asset/banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    padding: clamp(10px, 2vw, 25px);
}

.yellow-bar {
    width: auto;
    height: clamp(10px, 2vw, 18px);
    background-color: #FFCC19;
}

.queue_frame {
    display: flex;
    width: clamp(70px, 15vw, 145px);
    height: clamp(30px, 5vw, 50px);
    border-radius: clamp(25px, 5vw, 38px);
    background-color: #FFF8EE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.num_queue {
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 4vw, 35px);
    text-align: right;
    padding-left: clamp(5px, 1vw, 10px);
}

.option_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: clamp(50px, 10vw, 80px);
    background-color: #232D3F;
}

.option-frame {
    width: clamp(300px, 60vw, 420px);
    height: clamp(50px, 10vw, 80px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.option {
    width: clamp(180px, 30vw, 260px);
    height: clamp(40px, 8vw, 55px);
    background-color: #FFF8EE;
    border-radius: clamp(15px, 3vw, 20px);
    display: flex;
    flex-direction: row;
}

.option-name {
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 4vw, 30px);
    padding-left: clamp(10px, 2vw, 15px);
    padding-top: clamp(5px, 1vw, 11px);
}

.option-frame img {
    padding-left: clamp(7px, 1.5vw, 14px);
}

.option-frame:hover {
    background-color: #59779a;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* content */
.search-table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: clamp(30px, 5vw, 70px);
    flex-wrap: wrap;
}

#table {
    padding-right: clamp(10px, 2vw, 20px);
    font-size: clamp(20px, 4vw, 56px);
    align-items: center;
}

.text-field input {
    width: 100%;
    max-width: clamp(300px, 60vw, 400px);
    height: clamp(40px, 5vw, 60px);
    border-color: #232D3F;
    border-radius: clamp(10px, 2vw, 14px);
    font-size: clamp(20px, 1.5vw, 30px);
    padding-left: clamp(10px, 2vw, 20px);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: clamp(20px, 4vw, 40px);
    margin-left: 0;
}

.button {
    font-family: 'Moh Luang';
    background-color: #232D3F;
    color: white;
    border-radius: clamp(8px, 1.5vw, 10px);
    padding: clamp(8px, 1vw, 15px) clamp(15px, 2vw, 20px);
    font-size: clamp(30px, 1.5vw, 33px);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #445566;
    cursor: pointer;
}

.button:active {
    background-color: #001F33;
}

@media screen and (max-width: 600px) {

    /* Adjust styles for smaller screens */
    header {
        font-size: clamp(20px, 4vw, 30px);
    }

    header img {
        max-width: clamp(60px, 8vw, 95px);
        max-height: clamp(20px, 3vw, 30px);
        margin-right: 4px;
    }

    .queue_frame {
        width: clamp(100px, 20vw, 120px);
        height: clamp(30px, 5vw, 40px);
        font-size: clamp(20px, 2vw, 25px);
    }

    .num_queue {
        font-size: clamp(20px, 2vw, 25px);
    }

    .option-name {
        font-size: clamp(18px, 2vw, 20px);
        padding-top: clamp(6px, 1.5vw, 8px);
    }

    .button {
        padding: clamp(8px, 1vw, 15px) clamp(15px, 2vw, 20px);
        font-size: clamp(18px, 1.5vw, 20px);
    }

    .search-table {
        padding-top: clamp(20px, 4vw, 30px);
    }

    .text-field input {
        height: clamp(40px, 5vw, 50px);
        font-size: clamp(20px, 1.5vw, 24px);
    }
}