*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Moh Luang';
}

@font-face {
        font-family: 'Moh Luang';
        src: url('../menu/Moh-Luang.ttf') format('opentype');
}
@font-face {
        font-family: 'PGVIM';
        src: url('../menu/PGVIM.ttf') format('opentype');
}

header {
    background-color: #232D3F;
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    max-height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

header div {
    display: flex;
    align-items: center;
    font-family: 'PGVIM', sans-serif;
    padding-left: 20px;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

.text{
    color: white;   
    background-image: url('1-3585 2.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 87px;
    background-color: #FFCC19;
}

.promotion-head header{
    font-size: 60px;
    padding: 40px;
}

.image-container{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

.food-promotion{
    background-color: #ffffff;
    width: 430px;
    height: 650px;
    border-radius: 35px;
    background-image: url(tomyumcrab.png);
    text-align: center;
}

.food-promotion-2{
    background-color: #ffffff;
    width: 430px;
    height: 650px;
    border-radius: 35px;
    background-image: url(padthai.png);
    text-align: center;
    margin-top: 300px;
}

.food-promotion-3{
    background-color: #ffffff;
    width: 430px;
    height: 650px;
    border-radius: 35px;
    background-image: url(larb.png);
    text-align: center;
    margin-top: 600px;
}

.food-name{
    color: #ffffff;
    font-size: 96px;
}

.promotion-container{
    margin-top: -200px;
    margin-bottom: 60px;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
}

.food-info{
    background-color: rgba(0, 0, 0, 0.5);
    height: 650px;
    border-radius: 38px;
    transition: background-color 0.3s;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.food-info:hover {
    background-color: rgba(0, 0, 0, 0); 
    cursor: pointer;
}

.food-info p.food-name {
    transition: transform 0.3s; 
}

.food-info:hover p.food-name {
    transform: scale(1.1); 
}

.yellow-bar{
    width: auto;
    height: 15px;
    background-color: #FFCC19;
}

footer {
    font-family: 'PGVIM', sans-serif;
    background-color: #232D3F;
    color: #FFF8EE;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 160px;
}

footer .address {
    font-size: 2.5vh;
}

footer .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    background-color: #2A435D;
    gap: 10px;
}

.contact {
    align-items: center;
    display: flex;
}

.time {
    align-items: center;
    gap: 1px;
    display: flex;
}
