* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Moh Luang';
}

@font-face {
    font-family: 'Moh Luang';
    src: url('../../font/Moh-Luang.otf') format('opentype');
}

@font-face {
    font-family: 'PGVIM';
    src: url('../../font/PGVIM.ttf') format('opentype');
}

.nav {
    display: flexbox;
    width: auto;
    height: 100px;
    background-color: #232D3F;
}

.top {
    text-align: center;
    background-color: #2A435D;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    padding: clamp(0.5rem, 2vw, 2rem);
}

.text {
    text-align: center;
    color: white;
    font-size: clamp(2rem, 8vw, 6rem);
    background-image: url('banner.png');
    background-size: cover;
    background-position: center;
    padding: clamp(1rem, 4vw, 4rem);
}

.rodruedee {
    font-family: 'PGVIM';
    text-align: center;
    color: #001F33;
    margin-top: clamp(0.3rem, 1vw, 1rem);
    font-size: clamp(2rem, 8vw, 6rem);
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: #FFF8EE;
    width: clamp(30rem, 80vw, 60rem);
    /* Longer in x-axis */
    height: clamp(22rem, 50vw, 30rem);
    border-radius: clamp(1rem, 4vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: clamp(1rem, 4vw, 5rem);
    margin-bottom: clamp(3rem, 5vw, 7rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.login-text {
    color: #232D3F;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-family: 'Moh Luang';
    margin-bottom: clamp(1rem, 1vw, 1rem);
}

.text-field input {
    width: clamp(14rem, 40vw, 40rem);
    height: clamp(3rem, 8vw, 4rem);
    border-color: #232D3F;
    border-radius: clamp(1rem, 4vw, 1rem);
    font-size: clamp(1rem, 2vw, 2.5rem);
    padding-left: clamp(0.5rem, 1vw, 1rem);
}

.username-text label {
    font-size: clamp(2rem, 2vw, 2rem);
}

.login-button {
    font-family: 'Moh Luang';
    background-color: #232D3F;
    color: white;
    border: none;
    border-radius: clamp(0.5rem, 2vw, 1.5rem);
    padding: clamp(0.5rem, 2vw, 1rem) clamp(2rem, 4vw, 4rem);
    /* Increased button size */
    font-size: clamp(1.5rem, 4vw, 2rem);
    /* Increased font size */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    margin-top: clamp(2rem, 4vw, 3rem);
    flex: 0 0 auto;
    /* Added to prevent button from stretching */
}

.login-button:hover {
    background-color: #445566;
    cursor: pointer;
}

.login-button:active {
    background-color: #001F33;
}