* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Moh Luang';
    background-color: #FFF8EE;
}

@font-face {
    font-family: 'Moh Luang';
    src: url('../../../font/Moh-Luang.otf') format('opentype');
}

@font-face {
    font-family: 'PGVIM';
    src: url('../../../font/PGVIM.ttf') format('opentype');
}

/* Header */
header {
    background-color: #2A435D;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: clamp(20px, 5vw, 30px);
    font-family: 'PGVIM';
}

header img {
    max-width: 95px;
    max-height: 30px;
    margin-right: 8px;
}

/* Top */
.queue {
    background-image: url('banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    padding: clamp(10px, 2vw, 25px);
}

.yellow-bar {
    width: auto;
    height: clamp(10px, 2vw, 18px);
    background-color: #FFCC19;
}

.queue_frame {
    display: flex;
    width: clamp(70px, 15vw, 145px);
    height: clamp(30px, 5vw, 50px);
    border-radius: clamp(25px, 5vw, 38px);
    background-color: #FFF8EE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.num_queue {
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 4vw, 35px);
    text-align: right;
    padding-left: clamp(5px, 1vw, 10px);
}

.option_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: clamp(50px, 10vw, 80px);
    background-color: #232D3F;
}

.option-frame {
    width: clamp(300px, 60vw, 420px);
    height: clamp(50px, 10vw, 80px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.option {
    width: clamp(180px, 30vw, 260px);
    height: clamp(40px, 8vw, 55px);
    background-color: #FFF8EE;
    border-radius: clamp(15px, 3vw, 20px);
    display: flex;
    flex-direction: row;
}

.option-name {
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 4vw, 30px);
    padding-left: clamp(10px, 2vw, 15px);
    padding-top: clamp(5px, 1vw, 11px);
}

.option-frame img {
    padding-left: clamp(7px, 1.5vw, 14px);
}

.option-frame:hover {
    background-color: #59779a;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* content */
.qr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(30px, 6vw, 50px);
}

.qr img {
    max-width: clamp(200px, 40vw, 500px);
    max-height: clamp(200px, 40vw, 500px);
    margin-bottom: clamp(20px, 4vw, 30px);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: 'Moh Luang';
    background-color: #FFCC19;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: clamp(5px, 1vw, 10px);
    padding: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);
    font-size: clamp(20px, 4vw, 35px);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #fafbd3;
    cursor: pointer;
}

.button:active {
    background-color: #FFCC19;
}