
@font-face {
    font-family: 'Moh Luang';
    src: url('font/Moh-Luang.otf') format('opentype');
}

body {
    font-family: 'Moh Luang', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF8EE;
}

/* navbar */

header {
    background-color: #232D3F;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    max-height: 100px;
}

header div {
    display: flex;
    align-items: center;
    font-family: 'PGVIM', sans-serif;
    padding-left: 20px;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

.banner {
    color: white;
    background-image: url('asset/head_img.png');
    background-size: cover;
    background-position: center;
    padding: 87px;
    background-color: #FFCC19;
    display: flex;
    justify-content: right;
}

/* /////// */

.content{
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
}


.top-header {
    display: flex;
    flex-direction: row;
    background-color: #232D3F;
    margin-top: 0;
}

.top-header p {
    font-size: 6vh;
    margin-left: 4vh;
    color: #fff;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

/* ///////// */



.cart-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    font-size: 2vw;
    justify-content: space-between; 
    border-bottom: 1px solid #ccc;
}

.cart-items img.food-img {
    margin-left: 20px; 
}


.food{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    
}

.close {
    width: 10%;
}

.close img {
    max-width: 30%;
    cursor: pointer;
}

.food-img {
    margin-bottom: 10px;
    margin-top: 0;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.white-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 22px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quantity {
    display: flex;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 13px;
    width: 25px;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
}



.input-box {
    font-family: 'Moh Luang';
    text-align: center;
    border: none;
    padding: 8px 10px;
    font-size: 25px;
    outline: none;
}

/* // bottom total */

.white-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 5vh;
    border-radius: 16px;
    margin-left: 70vw;
    margin-right: 10vw;
    font-size: 2vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-bottom{
    color: #000000;
    margin-top: 2vh;
}
.order {
    margin-top: 2vh;
    cursor: pointer;
    background-color: #FFCC19;
    color: #000000;
    border: none; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; 
    font-family: 'Moh Luang';
    font-size: 2vw;
    margin-bottom: 2vh;
}

.input-box-value{
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-button {
    margin-top: 10px;
    text-align: center;
}

.back-button a {
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.order:hover {
    background-color: #a8a8a8; 
}

.back-button a:hover {
    background-color: #45a049;
}

#back-img:hover{
    cursor: pointer;
}

#back-img{
    margin-left: 10px;
}

#logo:hover{
    cursor: pointer;
}

.quantity button:hover {
    background-color: #FFCC19;
}
